<template>
  <div :class="size === 'full' ? 'col-12 fullSize' : size === 'middle' ? 'col-6 middleSize' : 'col-3 smallSize'">
    <div class="card shadow-6" :style="{ backgroundImage: 'url(' + props.img + ')' }" :alt="props.city">
      <div class="card__layout">
        <div class="card__content">
          <div class="card__content-title">
            <p class="card__content-country m-0">{{ props.country }}</p>
            <span class="card__content-city">{{ props.city }}</span>
            <p v-if="size === 'full'" class="card__content-description w-50">{{ props.description }}</p>
          </div>
          <p class="card__body card__body-description">{{ props.description }}</p>
          <button class="card__body btn card__body-explore">Explore more</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
  const props = defineProps({
    country: { type: String, required: true, default: '' },
    city: { type: String, required: true, default: '' },
    description: { type: String, required: true, default: '' },
    img: { type: String, required: true, default: '' },
    size: { type: String, required: true, default: '' }
  });
</script>

<style lang="scss">
  .w-50 {
    width: 50%;
  }
  .fullSize {
    width: 100%;
    height: 40vh;
  }

  .middleSize, .smallSize {
    width: 100%;
    height: 20vh;
  }

  .btn {
    border: 1px solid white;
    background-color: transparent;
    text-transform: capitalize;
    color: white;
    padding: 5px 8px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .card {
    border-radius: 5px;
    background-size: cover;
    width: auto;
    height: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    color: white;

    &__layout {
      z-index: 3;
      display: flex;
      height: 100%;
      justify-content: center;
    }

    &__body {
      display: none;

      &-description {
        font-size: 9px;
      }
    }

    &__content {
      z-index: 3;
      align-items: center;
      justify-content: space-around;
      display: flex;
      flex-direction: column;

      &-title {
        align-items: center;
        display: flex;
        font-size: 11px;
        flex-direction: column;
      }

      &-country {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 11px;
      }

      &-city {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
      }
    }
  }

  .card:hover {
    cursor: pointer;
    opacity: 0.8;

    .card__body {
      display: block;
      z-index: 3
    }

    .card__content {
      width: 50%;

      &-description {
        display: none;
      }
    }
  }

    .card:before {
      content: "";
      border-radius: 5px;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.5;
      background: black;
      height: 100%;
      z-index: 1;
      width: 100%;
    }

    @media screen and (min-width: 1024px) {
      .middleSize {
        width: 50%;
        height: 20vh;
      }

      .fullSize {
        .card {
          &__content {
            &-country {
              font-size: 8px;
            }

            &-city {
              font-size: 32px;
            }
          }

          &__body {
            &-description {
              font-size: 16px;
            }
          }
        }
      }

      .smallSize {
        width: 25%;
        height: 20vh;

        .card {
          &__body {
            &-description {
              font-size: 5px;
            }
          }
        }

        .card:hover .card__content {
          width: 70%;
        }
      }

      .card {
        &__content {
          &-country {
            font-size: 8px;
          }

          &-city {
            font-size: 16px;
          }
        }

        &__body {
          &-description {
            font-size: 7px;
          }
        }
      }
    }
</style>