<template>
  <div class="container">
    <div class="grid text-center">
      <cardComponent v-for="(item, index) in fetchData"
                     :key="item.city"
                     :country="item.country"
                     :city="item.city"
                     :img="item.img"
                     :description="item.description"
                     :size="item.size" />
    </div>
  </div>
</template>

<script setup>
  import cardComponent from "~/components/card"
  import { useCountryStore } from '@/store/country'

  const store = useCountryStore()
  const fetchData = store.fetchCountryData()

</script>

<style lang="scss">
  @media screen and (min-width: 768px) {
    .container {
      width: 500px;
      margin: 0 auto;
    }
  }
</style>